.card {
  display: grid;
  grid-template-rows: 150px 99px 50px;
  grid-template-areas:
    "image"
    "text"
    "stats";
  border-radius: 10px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  text-align: center;
  transition: 0.5s ease;

  .card-image {
    grid-area: image;
  }
  .card-text {
    grid-area: text;
    cursor: pointer;
  }

  .card-text p {
    color: grey;
    font-size: calc(1px + 1vw);
    font-weight: 300;
  }
  .card-text h2 {
    margin: 0;
    font-size: 28px;
  }
  .card-stats {
    grid-area: stats;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    border: initial;
    align-items: center;

    .stat {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      color: white;
      background: #32486a;
      width: 80%;
      height: 40px;
      border: initial;
      border-radius: 10px;
    }
  }
}

.card:hover {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}
